@font-face {
  font-family: 'Gidugu';
  src: url('../../../../resources/fonts/Gidugu-Regular.ttf') format('truetype');
}

:root {
  --bg-cream: #FFF0CB;
  --purple: #BB89C7;
  --pink: #FFA1CA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
