@font-face {
  font-family: 'Gidugu';
  src: url('../../../../resources/fonts/Gidugu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('../../../../resources/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

:root {
  --bg-cream: #FFF0CB;
  --purple: #BB89C7;
  --pink: #FFA1CA;
  --light-orange: #FFD98A;
  --blue: #8DEAFF;
  --orange: #FFB23E;
  --green: #C5EF00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body,
input,
textarea,
button,
select {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}